body{
    background-color: rgb(143, 140, 140);
}
@font-face {
    font-family: 'SANJUGotgam';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANJUGotgam.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.result{
    font-family: 'SANJUGotgam';
    font-size: 80px;
    position: relative;
    left: 745px;
    top: 400px;
}

#user{
    font-family: 'SANJUGotgam';
    font-size: 50px;
    position: absolute;
    left: 300px;
    top: 40px;
}
#com{
    font-family: 'SANJUGotgam';
    font-size: 50px;
    position: absolute;
    left: 1320px;
    top: 40px;
}


#rpc_user{

}
#rpc_com{

}
#effect_1{

}

.UserImg{
    border-radius: 30px;
    width: 600PX;
    height: 600PX;
    position: absolute;
    left: 80px;
    top: 150px;
}
.ComImg{
    border-radius: 30px;
    width: 600PX;
    height: 600PX;
    position: absolute;
    right: 80px;
    top: 150px;
}

#srb{
    position: absolute;
    left: 250px;
    top: 820px;
    height: 300px;
    width: 1300px;
}

#img_sb{
    width: 300px;
    height: 300px;
    position: absolute;
    
   
}

#img_rb{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 500px;
    
}

#img_pb{
    width: 300px;
    height: 300px;
    position: absolute;
    left: 1000px;
}